
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
    max-width: 1600px;
     margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* common styles  */
.btn{
    background-color: #30b869ea;
    border: #30b868 1.6px solid ;
    padding: 16px 12px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: capitalize;
    font-size: medium;
}
.btn:hover{
    background-color: transparent;
    color: #30b868;
    border: #30b868 1.6px solid ;
}
#headerSection{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 16px 120px;
}
#headerSection .logoNavbarImg{
    max-width: 139px;
    max-height: 60px;
}
#headerSection nav{
    text-transform: capitalize;
}
#headerSection nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;

}
#headerSection nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}
#headerSection nav ul a:hover{
    color: gray;

}



/* banner styling  */

#bannerSection{
    background-image: url("../assets/hero-bg.png");
    height: 674px;
    width: 100%;
    background-color: #001931 ;
    display: flex ;
    align-items: center;
    justify-content: center;

}
#bannerSection div{
    max-width: 85%;
    text-align: center;
}
#bannerSection div .message{
    color: #30b868;
    background-color: #FFFFFF;
    font-size: 14px;
    padding: 4px 10px;
    border-radius: 30px;
    display: inline;
    text-transform: capitalize;
    font-weight: 600;
    align-items: center;
}
#bannerSection div .message .earlyaccessLogo{
    width: 5px;
    height:5px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #30b868;
    /* box-shadow: 5px 5px 5px 5px #30b868; */
}

#bannerSection div h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    text-transform: capitalize;
    /* gap: 10px; */

}

#bannerSection div h1 .titleOne{
    color: #FFFFFF;
}
#bannerSection div h1 .titleTwo{
    color: #30b868;
}
#bannerSection div .subtitle{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;

}
.banner_btns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 465px;
    gap: 16px;
    margin: 32px auto 0;
}
.banner_btns button:last-child {
    background-color: transparent;
    border: 2px solid white;
}
.banner_btns button:last-child:hover {
    border: 2px solid #30b868;
    color: #FFFFFF;
}


/* note section  */
#noteSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 1360px;
    gap: 44px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;

}
#noteSection p{
    color: #627382;
    line-height: 20px;
    font-size: 16px;
    margin-top: 15px;
}

#noteSection h2{
    text-transform: capitalize;
    font-size: 48px;
    margin-top: 40px;
}
#noteSection h3{
    text-transform: capitalize;
    font-size: 25px;
}
#noteSection .cards{
    display: flex; 
    align-content: center;
    justify-content: space-between;
    gap: 16px;
    width: 1360px;
   
}

#noteSection .cards div{
     padding: 20px;
    border-radius: 8px;
    width: 322px;
    box-shadow: 0px 0px 10px #9fabb6  ;
}
#noteSection .cards img{
    width: 60px;
    height: 60px;
     background-color: #F95555;
    padding: 10px;
    border-radius: 50%;
}

/* brain section  */
#secoondBrainSetion{
   padding: 120px;
   margin: 0px auto;
}
#secoondBrainSetion .BrainMainBox{
    display: flex;
    align-items: center;
    gap: 0px;
    /* border: 1px solid red; */
   
}
#secoondBrainSetion .BrainMainBox img{
     border-radius: 12px;
     object-fit: cover;
}
.BrainMainBox div:last-child{
    display: flex;
    gap: 40px;
    flex-direction: column;
    text-align: left;
    max-width: 500px;
    margin: 0px auto 0px 60px;
}
.BrainMainBox .brainBxOne p{
     color: #627382;
     line-height: 20px;
     font-size: 16px;
     margin-top: 16px;
}
.brainBxOne p:first-child{
    color: #30b868;
    margin-top: auto;
     font-weight: 400;
     text-transform: uppercase;

}
.BrainMainBox  h2{
     color: #001931;
     font-size: 48px;
}
.BrainMainBox  ul{
     list-style: none;
}

.BrainMainBox  ul li{
     gap: 6px;
     display: flex;
     align-items: center;
     margin-top: 16px;
     font-size: 18px;
     font-weight: 400;
}

#earlyaccessSection{
    padding:0px 120px 120px;
    margin: 0px auto;
}
#earlyaccessSection .earlyaccessBox{
  background-color: #eeeeee;
  text-align: center;
  padding:80px 40px;
   border-radius: 12px;
   display: flex;
   flex-direction: column;
   gap: 24px;
}
#earlyaccessSection .earlyaccessBox h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}
#earlyaccessSection .earlyaccessBox p{
    font-size: 16px;
    font-size: 16px;
    color: #627382;
    line-height: 16px;
    margin-top: 16px;
}

footer{
    background-color: #001931;
    padding: 120px 120px 60px;
    color: #627382;

}
footer .boxOne{
     display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 80px;
}
footer .sociaLinks ul{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
footer .sociaLinks p{
     font-size: 20px;
     text-transform: capitalize;
     color: #FFFFFF;
     line-height: 28px;
     margin-bottom: 16px;
}

footer .sociaLinks ul li i{
      font-size: 25px;
     color: #FFFFFF;
       border-radius: 50%;      
}
footer .sociaLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 220px;
}
footer .copyrightmsg {
    text-align: center;
    margin-top: 30px;
}

footer hr {
  border: none;            
  height: 0.5px;
  background-color: #2a6397 ;
}