
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
    max-width: 1600px;
     margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* common styles  */
.btn{
    background-color: #30b869ea;
   
    padding: 16px 12px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: capitalize;
    font-size: medium;
}
.btn:hover{
    border: #30b868 1.6px solid ;
    background-color: transparent;
    color: #30b868;
}
#headerSection{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 16px 120px;
}
#headerSection .logoNavbarImg{
    max-width: 139px;
    max-height: 60px;
}
#headerSection nav{
    text-transform: capitalize;
}
#headerSection nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;

}
#headerSection nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
}
#headerSection nav ul a:hover{
    color: gray;

}



/* banner styling  */

#bannerSection{
    background-image: url("../assets/hero-bg.png");
    height: 674px;
    width: 100%;
    background-color: #001931 ;
    display: flex ;
    align-items: center;
    justify-content: center;

}
#bannerSection div{
    max-width: 85%;
    text-align: center;
}
#bannerSection div .message{
    color: #30b868;
    background-color: #FFFFFF;
    font-size: 14px;
    padding: 4px 10px;
    border-radius: 30px;
    display: inline;
    text-transform: capitalize;
    font-weight: 600;
    align-items: center;
}
#bannerSection div .message .earlyaccessLogo{
    width: 5px;
    height:5px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #30b868;
    box-shadow: 10px 10px 30px 0px;
}

#bannerSection div h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    text-transform: capitalize;
    /* gap: 10px; */

}

#bannerSection div h1 .titleOne{
    color: #FFFFFF;
}
#bannerSection div h1 .titleTwo{
    color: #30b868;
}
#bannerSection div .subtitle{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;

}
.banner_btns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 465px;
    gap: 16px;
    margin: 32px auto 0;
}
.banner_btns button:last-child {
    background-color: transparent;
    border: 2px solid white;
}
.banner_btns button:last-child:hover {
    border: 2px solid #30b868;
    color: #FFFFFF;
}